<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="LegStar"
            id="com.legstar.eclipse.plugin">
      </category>
      <wizard
            name="%new_file_title"
            icon="%operations_mapping_icon"
            category="com.legstar.eclipse.plugin"
            class="com.legstar.eclipse.plugin.cixsmap.wizards.NewMappingFileWizard"
            id="com.legstar.eclipse.plugin.cixsmap.wizards.NewMappingFileWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.legstar.eclipse.plugin.cixsmap.editors.CixsGenEditor"
            extensions="%operations_mapping_file_suffix"
            icon="%operations_mapping_icon"
            id="com.legstar.eclipse.plugin.cixsmap.editors.CixsGenEditor"
            name="%editor_title"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.legstar.eclipse.plugin.cixsmap.actionSet"
            label="LegStar Mapping Action Set"
            visible="true">
         <action
               class="com.legstar.eclipse.plugin.cixsmap.actions.OpenMappingEditorActionDelegate"
               icon="%operations_mapping_icon"
               id="com.legstar.eclipse.plugin.cixsmap.actions.OpenMappingEditorActionDelegate"
               label="%action_label"
               menubarPath="com_legstar_eclipse_menu/slot2"
               toolbarPath="legstarGroup"
               tooltip="%action_tooltip"/>
      </actionSet>
   </extension>

</plugin>
 