<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <servlet>
        <description>jvmqueryProxy is a proxy for pojo jvmquery</description>
        <display-name>jvmqueryProxy</display-name>
        <servlet-name>jvmqueryProxy</servlet-name>
        <servlet-class>com.legstar.c2ws.servlet.C2wsProxy</servlet-class>
        <!--  ============================ -->
        <!--  Parameters for Service Proxy -->
        <!--  ============================ -->
        <init-param>
            <description>Operation proxy class name</description>
            <param-name>operationProxyClassName</param-name>
            <param-value>com.legstar.proxy.invoke.DirectOperationProxy</param-value>
        </init-param>
        <!--  ===================================== -->
        <!--  Parameters for Direct Operation Proxy -->
        <!--  ===================================== -->
        <init-param>
            <description>Host character set</description>
            <param-name>hostCharset</param-name>
            <param-value>IBM01147</param-value>
        </init-param>
        <init-param>
            <description>Request transformers set</description>
            <param-name>requestTransformersClassName</param-name>
            <param-value>com.legstar.test.coxb.jvmquery.bind.JvmQueryRequestTransformers</param-value>
        </init-param>
        <init-param>
            <description>Response transformers set</description>
            <param-name>responseTransformersClassName</param-name>
            <param-value>com.legstar.test.coxb.jvmquery.bind.JvmQueryReplyTransformers</param-value>
        </init-param>
        <!--  =========================== -->
        <!--  Parameters for POJO invoker -->
        <!--  =========================== -->
        <init-param>
            <description>Proxy invoker class name</description>
            <param-name>proxyInvokerClassName</param-name>
            <param-value>com.legstar.proxy.invoke.pojo.PojoInvoker</param-value>
        </init-param>
        <init-param>
            <description>POJO Class name</description>
            <param-name>pojoClassName</param-name>
            <param-value>com.legstar.xsdc.test.cases.jvmquery.JVMQuery</param-value>
        </init-param>
        <init-param>
            <description>POJO method name</description>
            <param-name>pojoMethodName</param-name>
            <param-value>queryJvm</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>jvmqueryProxy</servlet-name>
        <url-pattern>/jvmqueryProxy</url-pattern>
    </servlet-mapping>
</web-app>