##/////////////////////////////////////////////////////////////////////
##Jaxws Component ANT war build Template.
##@author Fady
##/////////////////////////////////////////////////////////////////////
##
#set($warFile = "${targetDistDir}/cixs-${model.name}.war")
#set($wddFile = "${targetWDDDir}/web.xml")
<?xml version="1.0" encoding="UTF-8"?>
<!-- =================================================================================
     Create a distribution archive for an adapter.
  -->
<project basedir=".." default="create-war" name="build-war">
    <target name="create-jar">
        <ant antfile="${targetAntDir}/build-jar.xml"/>
    </target>
    <target name="create-war" depends="create-jar">
        <war warfile="${warFile}"
                webxml="${wddFile}">
            <webinf dir="${targetWDDDir}"
                    includes="sun-jaxws.xml"/>
            <!-- Generated Jaxws implementation jar file -->
            <lib dir="${targetDistDir}">
                <include name="cixs-${model.name}.jar"/>
            </lib>
        </war>
    </target>
</project>