<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="LegStar"
            id="com.legstar.eclipse.plugin">
      </category>
      <wizard
            name="CIXS Web Service endpoint"
            icon="icons/cixsgen-generate.gif"
            category="com.legstar.eclipse.plugin"
            class="com.legstar.eclipse.plugin.cixsgen.wizards.NewWSWizard"
            id="com.legstar.eclipse.plugin.cixsgen.wizards.NewWSWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.legstar.eclipse.plugin.cixsgen.actionSet"
            label="Legstar Action Set"
            visible="true">
         <menu
               id="legstarMenu"
               label="&amp;Legstar">
            <separator name="legstarGroup"/>
         </menu>
         <action
               class="com.legstar.eclipse.plugin.cixsgen.actions.CixsGenAction"
               icon="icons/cixsgen-generate.gif"
               id="com.legstar.eclipse.plugin.cixsgen.actions.CixsGenAction"
               label="&amp;Web Service generation"
               menubarPath="legstarMenu/legstarGroup"
               toolbarPath="legstarGroup"
               tooltip="Generate CIXS Web Service endpoint"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.legstar.eclipse.plugin.cixsgen.editors.CixsGenEditor"
            extensions="cixs"
            icon="icons/cixsgen-generate.gif"
            id="com.legstar.eclipse.plugin.cixsgen.editors.CixsGenEditor"
            name="CIXS Web Service editor"/>
   </extension>
 
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.legstar.eclipse.plugin"
            class="com.legstar.eclipse.plugin.cixsgen.properties.WorkbenchPreferencePage1"
            id="com.legstar.eclipse.plugin.cixsgen.page1"
            name="CIXS Generator"/>
   </extension>

</plugin>
