java -jar "%ECLIPSE_HOME%/plugins/org.eclipse.equinox.launcher_1.0.200.v20090520.jar" ^
-application org.eclipse.equinox.p2.publisher.UpdateSitePublisher ^
-metadataRepository file:/@LEGSTAR-LOCAL-SITE-LOCATION@ ^
-artifactRepository file:/@LEGSTAR-LOCAL-SITE-LOCATION@ ^
-source /@LEGSTAR-LOCAL-SITE-LOCATION@ ^
-compress  ^
-configs gtk.linux.x86