<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CultureInfoProxy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>cultureinfoProxy</display-name>
    <servlet-name>cultureinfoProxy</servlet-name>
    <servlet-class>com.legstar.c2ws.servlet.C2wsProxy</servlet-class>
    <init-param>
        <description>URL locating target Web service WSDL</description>
        <param-name>c2ws.wsdlUrl</param-name>
        <param-value>http://localhost:8080/jaxws-cultureinfo/getinfo?wsdl</param-value>
    </init-param>
    <init-param>
        <description>Target Web service WSDL namespace</description>
        <param-name>c2ws.wsdlTargetNamespace</param-name>
        <param-value>http://cultureinfo.cases.test.xsdc.legstar.com/</param-value>
    </init-param>
    <init-param>
        <description>Target Web service WSDL port name</description>
        <param-name>c2ws.wsdlPortName</param-name>
        <param-value>CultureInfoImplPort</param-value>
    </init-param>
    <init-param>
        <description>Target Web service WSDL service name</description>
        <param-name>c2ws.wsdlServiceName</param-name>
        <param-value>CultureInfoImplService</param-value>
    </init-param>
    <init-param>
        <description>Request JAXB type</description>
        <param-name>c2ws.requestJaxbType</param-name>
        <param-value>GetInfoType</param-value>
    </init-param>
    <init-param>
        <description>Request JAXB package name</description>
        <param-name>c2ws.requestJaxbPackageName</param-name>
        <param-value>com.legstar.test.coxb.cultureinfo</param-value>
    </init-param>
    <init-param>
        <description>Response JAXB type</description>
        <param-name>c2ws.responseJaxbType</param-name>
        <param-value>GetInfoResponseType</param-value>
    </init-param>
    <init-param>
        <description>Response JAXB package name</description>
        <param-name>c2ws.responseJaxbPackageName</param-name>
        <param-value>com.legstar.test.coxb.cultureinfo</param-value>
    </init-param>
    <init-param>
        <description>Host character set</description>
        <param-name>c2ws.hostCharset</param-name>
        <param-value>IBM01140</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>cultureinfoProxy</servlet-name>
    <url-pattern>/cultureinfoProxy</url-pattern>
  </servlet-mapping>
</web-app>