<?xml version="1.0" encoding="UTF-8"?>
<web-app>
   <display-name>cixs.vararcom</display-name>
   <description>cixs vararcom Web Service</description>
   <listener>
      <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
   </listener>
   <servlet>
      <servlet-name>vararcomWebService</servlet-name>
      <display-name>cixs.vararcomWebService</display-name>
      <description>JAX-WS endpoint - vararcom Web Service</description>
      <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet-mapping>
      <servlet-name>vararcomWebService</servlet-name>
      <url-pattern>/vararcom</url-pattern>
   </servlet-mapping>
   <session-config>
      <session-timeout>60</session-timeout>
   </session-config>
</web-app>