<!-- =================================================================================
     This script generates JAXB classes from a COBOL-annotated XML schema. It then
     goes on and generates binding classes for selected JAXB root classes.
     Binding classes provide an efficient runtime code for visitors. They avoid
     reflection and use of annotations at runtime.
  -->
<project basedir="${antModel.productLocation}" default="signalSuccess" name="generate-COXB-classes">

    <!-- ===========================================================  -->
    <!-- Setup environment
    -->
    <target name="init">
    
        <!-- Classpath setting -->
        <path id="classpath">
            <fileset dir="${basedir}" includes="lib/*.jar" />
            <!--JAXB generated classes (needed for reflection) -->
            <dirset dir="${antModel.jaxbBinDir}"/>
        </path>
        
        <!-- Regular Sun JAXB XJC tool ant task  -->
        <taskdef name="xjc"
            classname="com.sun.tools.xjc.XJC2Task"
            classpathref="classpath"/>
        
        <!-- Binding generator ant task -->
        <taskdef name="coxbgen"
            classname="com.legstar.coxb.gen.CoxbBindingGenerator"
            classpathref="classpath"/>
        
        <!-- Make sure target directories exist -->
        <mkdir dir="${antModel.jaxbSrcDir}"/>
        <mkdir dir="${antModel.jaxbBinDir}"/>
    
    </target>

    <!-- ===========================================================  -->
    <!-- Generate the JAXB classes source
    -->
    <target name="generateJAXB" depends="init">
        <echo message="Generating JAXB classes for ${antModel.xsdFile}" />
        <xjc schema="${antModel.xsdFile}" destdir="${antModel.jaxbSrcDir}" extension="true" removeOldOutput="yes">
            <!--COXB xjc plugin extension-->
            <arg value="-Xlegstar-code" />
            <!--Without this option (no validation), out of memory errors -->
            <arg value="-nv" />
            <!-- External XJC bindings directory. Collects all *.xjb files -->
            <arg value="-b" />
            <arg value="${antModel.jaxbXjcBindingDir}" />
        </xjc>
    </target>

    <!-- ===========================================================  -->
    <!-- Compile the generated JAXB classes. fork="no" prevents
    the bug on package-info.java
    -->
    <target name="compileJAXB" depends="generateJAXB">
        <javac srcdir="${antModel.jaxbSrcDir}"
            destdir="${antModel.jaxbBinDir}"
            classpathref="classpath"
            fork="no"
        />
    </target>
  
    <!-- ===========================================================  -->
    <!-- Generate binding classes by reflecting on JAXB classes.
    -->
    <target name="generateCOXB" depends="compileJAXB">
        <echo message="Generating binding classes for ${antModel.xsdFile}" />
        <coxbgen 
            xsdFile="${antModel.xsdFile}"
            targetDir="${antModel.coxbSrcDir}"
            >
#foreach ($jaxbRootClassName in $antModel.jaxbRootClassNames)
            <jaxbRootClass name="${jaxbRootClassName}"/>
#end
        </coxbgen>
    </target>

    <!-- ===========================================================  -->
    <!-- Compile the generated binding classes.
    -->
    <target name="compileCOXB" depends="generateCOXB">
        <javac srcdir="${antModel.coxbSrcDir}"
            destdir="${antModel.coxbBinDir}"
            classpathref="classpath"
            fork="yes"
        />
    </target>
  
    <!-- ===========================================================  -->
    <!-- Delete the probe file to signal success
    -->
    <target name="signalSuccess" depends="generateCOXB">
        <delete file="${antModel.probeFile}" quiet="true"/>
    </target>
    
</project>
