#**
Choice strategy class Velocity Template.
@author Fady
@version 1.1.1
*#
## ==================================================================
## Choice strategy code
##

package ${helper.getPackageName(${choice-strategy-qualified-class-name}, ${coxbContext.getCoxbPackageName()})};
import java.util.Hashtable;

import com.legstar.coxb.CobolElementVisitor;
import com.legstar.coxb.ICobolBinding;
import com.legstar.coxb.ICobolChoiceBinding;
import com.legstar.coxb.ICobol${choice-strategy-type}ChoiceStrategy;
import com.legstar.coxb.host.HostException;

## Determine the value Object type
#set ($parentObjectType = $coxbContext.getAlternativeClassName($coxbHelper.getParentJaxbTypeName($binding)))
#if (${coxbContext.getAlternativePackageName()})
import ${coxbContext.getAlternativePackageName()}.$parentObjectType;
#else
#if (${coxbContext.getJaxbPackageName()})
import ${coxbContext.getJaxbPackageName()}.$parentObjectType;
#end
#end

/** 
 * Skeleton implementation of a custom choice selection strategy. Modify this
 * code to select a suitable alternative.
 */
public class ${helper.getClassName(${choice-strategy-qualified-class-name})} implements ICobol${choice-strategy-type}ChoiceStrategy {

    /** {@inheritDoc} */
    public final ICobolBinding choose(
        final ICobolChoiceBinding choice,
        final Hashtable < String, Object > variablesMap,
        final CobolElementVisitor visitor) throws HostException {
        
        /* Get the parent JAXB object which properties might help select the
         * right alternative. */
        ${parentObjectType} jaxbo = (${parentObjectType}) choice.getObjectValue(${parentObjectType}.class);
        assert (jaxbo != null);
        
        /* Replace following code with actual logic. */
        int index = 0;
        switch (index) {
#set($counter = 0)
#foreach ($child in $binding.alternativesList)
        case ${counter}:
            return choice.getAlternativeByName("${child.bindingName}");
#set($counter = $counter + 1)
#end
        case -1:
            /* An exemple of how to signal an exception.*/
            throw (new HostException("Unable to select an alternative"));
        default:
            /* Null will let the default choice strategy apply. */
            return null;
        }
    }
}


