<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <servlet>
        <description>MSNSearchProxy is a proxy for Web Service MSNSearch</description>
        <display-name>MSNSearchProxy</display-name>
        <servlet-name>MSNSearchProxy</servlet-name>
        <servlet-class>com.legstar.c2ws.servlet.C2wsProxy</servlet-class>
        <init-param>
            <description>URL locating target Web service WSDL</description>
            <param-name>c2ws.wsdlUrl</param-name>
            <param-value>http://soap.search.msn.com/webservices.asmx?wsdl</param-value>
        </init-param>
        <init-param>
            <description>Target Web service WSDL namespace</description>
            <param-name>c2ws.targetNamespace</param-name>
            <param-value>http://schemas.microsoft.com/MSNSearch/2005/09/fex</param-value>
        </init-param>
        <init-param>
            <description>Target Web service WSDL port name</description>
            <param-name>c2ws.wsdlPortName</param-name>
            <param-value>MSNSearchPort</param-value>
        </init-param>
        <init-param>
            <description>Target Web service WSDL service name</description>
            <param-name>c2ws.wsdlServiceName</param-name>
            <param-value>MSNSearchService</param-value>
        </init-param>
        <init-param>
            <description>Request JAXB type</description>
            <param-name>c2ws.requestJaxbType</param-name>
            <param-value>Search</param-value>
        </init-param>
        <init-param>
            <description>Request JAXB package name</description>
            <param-name>c2ws.requestJaxbPackageName</param-name>
            <param-value>com.legstar.test.coxb.MSNSearch</param-value>
        </init-param>
        <init-param>
            <description>Response JAXB type</description>
            <param-name>c2ws.responseJaxbType</param-name>
            <param-value>SearchResponse</param-value>
        </init-param>
        <init-param>
            <description>Response JAXB package name</description>
            <param-name>c2ws.responseJaxbPackageName</param-name>
            <param-value>com.legstar.test.coxb.MSNSearch</param-value>
        </init-param>
        <init-param>
            <description>Host character set</description>
            <param-name>c2ws.hostCharset</param-name>
            <param-value>IBM01140</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>MSNSearchProxy</servlet-name>
        <url-pattern>/MSNSearchProxy</url-pattern>
    </servlet-mapping>
</web-app>