<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.maven.ide.eclipse.Maven2LaunchConfigurationType">
<listAttribute key="M2_PROPERTIES"/>
<stringAttribute key="M2_GOALS" value="package"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="D:/Legsem/Legstar/Dev/maven/Legstar/legstar-schemagen-plugin"/>
</launchConfiguration>
