<!-- =================================================================================
     This script generates a Cobol-annotated XML Schema from a set of Java classes.
  -->
<project basedir="${antModel.productLocation}" default="signalSuccess" name="generate-XSD">
#**
XML Schema and WSDL to Xsd ant script Velocity Template.
@author Fady
@version 1.2
*#
## ==================================================================
## Generates an ant script for Xsd or Wsdl to Xsd generation
##
    <!-- ===========================================================  -->
    <!-- Setup environment
    -->
    <target name="init">
    
        <!-- Classpath setting -->
        <path id="classpath">
            <fileset dir="${basedir}" includes="lib/*.jar" />
        </path>
        
        <!-- XSD/WSDL to COBOL Structures Generator ant task -->
        <taskdef name="x2scgen"
            classname="com.legstar.xsdc.gen.XsdCobolAnnotator"
            classpathref="classpath"/>
        
    </target>

    <!-- ===========================================================  -->
    <!-- Generate a Cobol-annotated XML Schema.
    -->
    <target name="generateXSD" depends="init">
        <echo message="Generating annotated XML schema ${antModel.targetXsdFileName}" />
        <mkdir dir="${antModel.targetDir}"/>
        <x2scgen
            inputXsdUri="${antModel.inputXsdUri}"
            namespace="${antModel.namespace}"
            targetDir="${antModel.targetDir}"
            targetXsdFileName="${antModel.targetXsdFileName}"
        />
    </target>

    <!-- ===========================================================  -->
    <!-- Delete the probe file to signal success
    -->
    <target name="signalSuccess" depends="generateXSD">
        <delete file="${antModel.probeFile}" quiet="true"/>
    </target>
    
</project>
