<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.legstar.eclipse.plugin.coxbgen.contribution1"
            nameFilter="*.xsd"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="com.legstar.eclipse.plugin.coxbgen.menu1"
               label="LegStar"
               path="additions">
            <separator name="group1"/>
         </menu>
         <action
               class="com.legstar.eclipse.plugin.coxbgen.popup.actions.CoxbGenAction"
               enablesFor="1"
               icon="icons/coxbgen-generate.gif"
               id="com.legstar.eclipse.plugin.coxbgen.newAction"
               label="Generate COXB binding classes..."
               menubarPath="com.legstar.eclipse.plugin.coxbgen.menu1/group1"/>
      </objectContribution>
   </extension>
 
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.legstar.eclipse.plugin"
            class="com.legstar.eclipse.plugin.coxbgen.properties.WorkbenchPreferencePage1"
            id="com.legstar.eclipse.plugin.coxbgen.page1"
            name="COXB Generator"/>
   </extension>

</plugin>
