<?xml version="1.0" encoding="UTF-8"?>
<web-app>
   <display-name>cixs.redsimpt</display-name>
   <description>cixs redsimpt Web Service</description>
   <listener>
      <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
   </listener>
   <servlet>
      <servlet-name>redsimptWebService</servlet-name>
      <display-name>cixs.redsimptWebService</display-name>
      <description>JAX-WS endpoint - redsimpt Web Service</description>
      <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet-mapping>
      <servlet-name>redsimptWebService</servlet-name>
      <url-pattern>/redsimpt</url-pattern>
   </servlet-mapping>
   <session-config>
      <session-timeout>60</session-timeout>
   </session-config>
   <env-entry>
      <env-entry-name>legstar/configFileName</env-entry-name>
      <env-entry-value>config.xml</env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>
</web-app>