<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="LegStar"
            id="com.legstar.eclipse.plugin">
      </category>
      <wizard
            name="New mainframe data structure mapping..."
            icon="icons/schemagen-mapping.gif"
            category="com.legstar.eclipse.plugin"
            class="com.legstar.eclipse.plugin.schemagen.wizards.MainWizard"
            id="com.legstar.eclipse.plugin.schemagen.wizards.MainWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.legstar.eclipse.plugin.schemagen.actionSet"
            label="LegStar Schemagen Action Set"
            visible="true">
         <action
               class="com.legstar.eclipse.plugin.schemagen.actions.SchemaGenAction"
               icon="icons/schemagen-mapping.gif"
               id="com.legstar.eclipse.plugin.schemagen.actions.SchemaGenAction"
               label="New mainframe &amp;data structure mapping..."
               menubarPath="com_legstar_eclipse_menu/slot1"
               toolbarPath="legstarGroup"
               tooltip="New mainframe data structure mapping..."/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.legstar.eclipse.plugin"
            class="com.legstar.eclipse.plugin.schemagen.preferences.SchemaGenPreferencePage"
            id="com.legstar.eclipse.plugin.schemagen.preferences.SchemaGenPreferencePage"
            name="Mainframe data structure mapping"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.legstar.eclipse.plugin.schemagen.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
