<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="LegStar"
            id="com.legstar.eclipse.plugin">
      </category>
      <wizard
            name="Cobol-annotated XML schema generation"
            icon="icons/schemagen-generate.gif"
            category="com.legstar.eclipse.plugin"
            class="com.legstar.eclipse.plugin.schemagen.wizards.MainWizard"
            id="com.legstar.eclipse.plugin.schemagen.wizards.MainWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.legstar.eclipse.plugin.schemagen.actionSet"
            label="LegStar Action Set"
            visible="true">
         <menu
               id="legstarMenu"
               label="&amp;LegStar">
            <separator name="legstarGroup"/>
         </menu>
         <action
               class="com.legstar.eclipse.plugin.schemagen.actions.SchemaGenAction"
               icon="icons/schemagen-generate.gif"
               id="com.legstar.eclipse.plugin.schemagen.actions.SchemaGenAction"
               label="&amp;COBOL-annotated XML schema generation"
               menubarPath="legstarMenu/legstarGroup"
               toolbarPath="legstarGroup"
               tooltip="COBOL-annotated XML schema generation"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.legstar.eclipse.plugin"
            class="com.legstar.eclipse.plugin.schemagen.preferences.SchemaGenPreferencePage"
            id="com.legstar.eclipse.plugin.schemagen.preferences.SchemaGenPreferencePage"
            name="COBOL-annotated XML schema generation"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.legstar.eclipse.plugin.schemagen.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
